<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>

        <!-- IGET Main Menu -->
        <!-- @todo: Move this main menu to a main package -->
        <add id="Iget_Correios::main_menu"
             title="IGET"
             module="Iget_Correios"
             sortOrder="40"
             resource="Iget_Correios::main_menu"
        />

        <!-- Here just to prevent "Iget_Correios::correios_menu" being hide -->
        <!-- remove this when other items are under main_menu. -->
        <add id="Iget_Correios::placeholder"
             title="IGET"
             translate="title"
             module="Iget_Correios"
             sortOrder="50"
             parent="Iget_Correios::main_menu"
             resource="Iget_Correios::placeholder"
        />

        <!-- Correios Menu -->
        <add id="Iget_Correios::correios_menu"
             title="Correios"
             module="Iget_Correios"
             sortOrder="1"
             resource="Iget_Correios::correios_menu"
             parent="Iget_Correios::main_menu"
        />

        <add id="Iget_Correios::carrier_configurations"
             title="Configurations"
             module="Iget_Correios"
             sortOrder="3"
             resource="Iget_Correios::carrier_configurations"
             parent="Iget_Correios::correios_menu"
             action="adminhtml/system_config/edit/section/carriers/"
        />
    </menu>
</config>
