<?xml version="1.0"?>
<!--
/**
 * Correios
 *
 * Correios Shipping Method for Magento 2.
 *
 * @package Iget\Correios
 * @author Igor Ludgero Miura <igor@imaginemage.com>
 * @copyright Copyright (c) 2017 Imagination Media (http://imaginemage.com/)
 * @license https://opensource.org/licenses/OSL-3.0.php Open Software License 3.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="iget" translate="label" sortOrder="402" class="iget-extensions">
            <label>Iget Extensions</label>
        </tab>
        <section id="carriers" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <resource>Iget_Correios::carrier_configurations</resource>
            <group id="correios" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Correios</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <group id="general" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>General</label>
                    <field id="name" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Method Title</label>
                    </field>
                    <field id="owner_hands" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Use Owner Hands</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="proof_of_delivery" translate="label" type="select" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Proof of Delivery</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="declared_value" translate="label" type="select" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Use Declared Value</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="26" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Sort Order</label>
                    </field>
                    <field id="handling_fee" translate="label comment" type="text" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Handling Fee</label>
                        <comment>This value will be increased in the shipping value.</comment>
                    </field>
                    <field id="show_deliverydays" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Show Delivery Days</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="add_deliverydays" translate="label comment" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Add Delivery Days</label>
                        <comment>Apply an offset to delivery time shown to user</comment>
                    </field>
                    <field id="deliverydays_message" translate="label comment" type="text" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Delivery Time message</label>
                        <comment>Here you can customize the delivery time message. Eg: '%s - %d days to receive.'. %s is the shipping method and %d is the days number.</comment>
                    </field>
                    <field id="free_shipping_message" translate="label comment" type="text" sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Free Shipping Message</label>
                        <comment>This message will be added in the free shipping method when applicable.</comment>
                    </field>
                    <field id="enable_log" translate="label" type="select" sortOrder="22" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable logs?</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                </group>
                <group id="flat_rate" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Flat-rate</label>
                    <field id="by_zip_range" translate="label" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1" >
                        <label>By ZIP range</label>
                        <frontend_model>Iget\Correios\Block\System\Config\Form\Field\ZipRanges</frontend_model>
                        <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                        <comment><![CDATA[ZIP codes between this range will ship free with the <strong>Free Method</strong> defined on <strong>Post Methods</strong> tab]]></comment>
                    </field>
                    <field id="priority" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Give priority to</label>
                        <comment>Define how to decide what flat-rate choose if multiple match.</comment>
                        <source_model>Iget\Correios\Model\Config\Source\FlatRatePriority</source_model>
                    </field>
                </group>
                <group id="packages" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Packaging behavior</label>
                    <comment>Configure here how the module should behave to decide package sizing. This will allow you to get better shipping fare approximation.</comment>
                    <field id="available_boxes" translate="label" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1" >
                        <label>Available Boxes</label>
                        <frontend_model>Iget\Correios\Block\System\Config\Form\Field\AvailableBoxes</frontend_model>
                        <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                        <comment>The modules will try to fit the purchase items inside these boxes. On your product you must set what boxes fits that product.</comment>
                    </field>
                    <field id="merge_packages" translate="label" type="select" sortOrder="22" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Merge packages?</label>
                        <comment>When enabled, the module merge all packages into a single box (by the sum of volumes) and calculate a single shipping fare.
                            Otherwise it will get a quotation for each box and sum the fares.</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="validate_dimensions" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Validate Dimensions</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                </group>
                <group id="contract" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Contract</label>
                    <comment>If you have a contract with Correios, enter your credentials to get your contract fares</comment>
                    <field id="login" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Contract Number</label>
                    </field>
                    <field id="password" translate="label" type="password" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Contract Password</label>
                    </field>
                </group>
                <group id="sro" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Correios Web SRO credentials</label>
                    <comment>Enter your Web SRO credentials to allow tracking packages directly from user orders</comment>
                    <field id="login" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Login</label>
                    </field>
                    <field id="password" translate="label" type="password" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Password</label>
                    </field>
                </group>
                <group id="post_methods" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Post Methods</label>
                    <field id="enabled_methods" translate="label" type="multiselect" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled Posting Methods</label>
                        <comment>Post methods that should be available to user.</comment>
                        <source_model>Iget\Correios\Model\Config\Source\PostingMethods</source_model>
                    </field>
                    <field id="free_method" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Free Method</label>
                        <comment>Post method that should be used on free shipping promotions.</comment>
                        <source_model>Iget\Correios\Model\Config\Source\PostingMethods</source_model>
                    </field>
                </group>
                <group id="custom_post_methods" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Post Methods</label>
                    <comment>Set the post methods codes according your contract with Correios.</comment>
                    <field id="sedex" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Sedex</label>
                    </field>
                    <field id="pac" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>PAC</label>
                    </field>
                    <field id="sedex_10" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Sedex 10</label>
                    </field>
                    <field id="sedex_hoje" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Sedex Hoje</label>
                    </field>
                    <field id="sedex_cobrar" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Sedex a cobrar</label>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
